body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da janela */
}

header {
    background: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

main {
    margin-top: 100px;
    padding: 20px;
    flex: 1
}

section {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #007BFF;
    color: white;
}